/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  overflow: hidden;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #020303;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close{
  width: 78px;
}
.sidebar .logo-details{
  height: 110px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details img{
  font-size: 30px;
  color: #fff;
  height: 110px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 10px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: #1d1b31;
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}

.sidebar .nav-links li i{
  height: 50px;
  min-width: 45px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li img{
  height: 40px;
  min-width: 45px;
  text-align: center;
  line-height: 50px;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 10%;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
  overflow: hidden;
}

.sidebar.close .nav-links li a{
  color: transparent;
  text-decoration: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #020303;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #020303;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #020303;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{
  font-size: 12px;
}
.home-section{
  position: relative;
  /* background: #E4E9F7; */
  height: 90vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  padding: 12px;
}
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}
.home-content{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 90vh;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu{
  cursor: pointer;
  margin-right: 10px;
}
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}

@media screen and (max-width: 400px){
  .sidebar{
    width: 240px;
  }
  .sidebar.close{
    width: 78px;
  }
  .sidebar .profile-details{
    width: 240px;
  }
  .sidebar.close .profile-details{
    background: none;
  }
  .sidebar.close .profile-details{
    width: 78px;
  }
  .home-section{
    left: 240px;
    width: calc(100% - 240px);
  }
  .sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
  }
}

/* footer */
footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: #020303; */
  height: 7vh;
  width: 100vw;
  font-family: "Open Sans";
  /* padding-top: 40px; */
  /* color: #000; */  
  border-top: 1px solid #dcdcdc;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  align-items: center;
  justify-content: center;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 1rem 0 3rem 0; */
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}
.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background: #ffffff;
  height: 8vh;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

/* NAV */
  
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #222222;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
    
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}

/* #app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
    overflow-y: auto;
} */

#app{
  width: 100vw;
  height: 86.5vh;
  overflow-y: scroll;
}

a {
    color: #009579;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5);
}

.col {
  flex: 1 0 0%;
}

.container-1 {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 20px auto;
}

.center-container {
  display: flex;
  justify-content: center;
  /* Horizontally center the content */
  height: 100vh;
  /* Adjust the height as needed to center the content within the viewport */
  /* align-items: center; */
  /* Vertically center the content */
}

button {
  width: 100%;
  padding: 10px 0;
  margin: 10px auto;
  border-radius: 5px;
  border: none;
  background: #007bff;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

/* Add styling to the navigation bar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

/* Style for the navigation links */
.nav_link {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  position: relative;
  /* Add this to make the relative positioning work */
}

/* Style for the underline on hover */
.nav_link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  /* Adjust this value to control the distance of the underline below the text */
  width: 100%;
  height: 2px;
  background-color: #007bff;
  /* Change to the desired underline color on hover */
}

/* Style for the active link */
.nav_link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  /* Adjust this value to control the distance of the underline below the text */
  width: 100%;
  height: 2px;
  background-color: #007bff;
  /* Change to the desired underline color for the active link */
}

/* Style for the "Generate CV" button */
.generate-cv {
  color: #6c757d;
  border-color: #6c757d;
}

.generate-cv:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.generate-cv::after {
  display: none;
  /* Remove the underline effect for the "Generate CV" button */
}

.text-danger {
  width: 100%;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
}

.text-danger.active {
  padding: 0.3em;
}

.validation-error {
  color: #900;
}

fieldset {
  border: none;
  /* border-top: 2px solid #696969; */
}

legend {
  text-align: center;
  /* Center the text horizontally */
  /* width: 100%; */
  /* Optional: Adjust the width of the legend */
}

.profile-details {
  padding: 20px;
}


.education__section{
  border: 5px solid green;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.education__section table{
  /* border: 5px solid red; */
  border-collapse: collapse;
  width: 80%;
  max-height: 70vh;
}

.education__table thead tr,.education__table tbody tr{
  
  text-align: center;
}

.education__table th,.education__table  td{
  padding-top: 0.6rem;
}
.education__table tbody tr{
  border-bottom: 1px solid blue;
}

.education__section .add__education{
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.6rem 0 0.6rem 0;
  text-decoration: none;
  width: 15rem;
  border-radius: 3rem;
}

.education__section .add__education #add__sign{
  margin-top: 0.2rem;
  text-align: center;
  font-weight: 500;
  width: 20%;
  border: 2px solid green;
  border-radius: 50%;
}

.education{

  background-color: rgb(240, 250, 250);
  border: 5px solid red;
  margin-top: 8rem;
  width: 60%;
  height: 60%;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  transition: .5s;
}
