/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url("Wits.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    background-position: center;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: rgba(137, 137, 137, 0.4);
}

.link:hover, .active{
    border-bottom: 2px solid #fff;
}

.btn:hover{
    background: rgba(255, 255, 255, 0.3);
}
#registerBtn{
    margin-left: 15px;
}
.btn.white-btn{
    background: rgba(255, 255, 255, 0.7);
}
.btn.btn.white-btn:hover{
    background: rgba(255, 255, 255, 0.5);
}

.form-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 800px;
    /* width: 512px;
    height: 420px; */
    overflow: hidden;
    z-index: 2;
}

.login-container{
    position: absolute;
    left: 4px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}
.register-container{
    position: absolute;
    right: -520px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

.top span{
    color: white;
    font-size: 30px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    font-weight: 500;
}
.top span a{
    color: white;
    margin-left: 5px;
    font-weight: 500;
    font-size: 30px;
}
header{
    color: white;
    font-size: 50px;
    text-align: center;
    padding: 10px 0 30px 0;
    font-weight: 500;
}

.two-forms{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.input-field{
    font-size: 20px;
    background: rgba(255, 255, 255, 0.2);
    color: black;
    height: 40px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
    font-weight: 500;
}
.input-field:hover, .input-field:focus{
    background: rgba(255, 255, 255, 0.25);
}
::-webkit-input-placeholder{
    color: black;
}

/* .form {
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

.form h1 {
    color: #0f2027;
    text-align: center;
}

.form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: rgb(41, 57, 194);
    border: none;
    border-radius: 4px;
} */




/* .input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
} */

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 20px;
    height: 55px;
    
}

.submit{
    font-size: 20px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.submit:hover{
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.two-col{
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: small;
    margin-top: 10px;
}
.two-col .one{
    display: flex;
    gap: 5px;
    font-size: 20px;
}

.two label a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.two label a:hover{
    text-decoration: underline;
}


@media only screen and (max-width: 540px) and (max-height: 800px){

    .wrapper{
        min-height: 100vh;
    }

    .form-box{
        width: 100%;
        height:800px;
    }

    .register-container, .login-container{
        width: 100%;
        padding: 0 20px;
    }

    .register-container .two-forms{
        flex-direction: column;
        gap: 0;
    }

    .two-col{
        gap: 10px;
    }

}